!!! 5
%html
  %head
    %title Declarative Cucumber
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/flash', :locals => { :flash => flash }

    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, :method => :delete
    - else
      = link_to 'Login', new_user_session_path

    = yield
